section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 70%;
	.filters {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
		.row {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: space-around;
			margin: 10px;
			user-select: none;
		}
	}
	.recipe {
		display: flex;
		align-items: stretch;
		padding: 10px;
		margin: 5px;
		text-decoration: none;
		width: 49%;
		border-radius: 10px;
		border: 1px solid transparent;
		transition: box-shadow 0.5s ease, border 0.5s ease;
		img {
			height: 215px;
			width: 290px;
			border-radius: 10px;
		}
		.details {
			color: black;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			margin: 10px;
			.title {
				font-size: 19pt;
			}
			.veg {
				display: block;
				height: 20px;
				width: 20px;
				border-radius: 50%;
				background-color: green;
				&.non-veg {
					background-color: red !important;
				}
			}
		}
		&:hover {
			border: 1px solid black;
			box-shadow: 10px 10px 10px black;
		}
	}
	button {
		width: 100%;
		padding: 10px;
	}
}
